.header{
    h1{
        font-family: bbFont;
        text-align: center;
        color: $colorText;
        font-size: 40px;
        font-weight: bolder;
        padding: 10px;
    }
    &__container{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        max-height: 300px;
    }
}