$colorText: rgb(72, 127, 90);
$widthImgListener: 40%;
$maxWidthImgListener: 300px;
$heightImgListener: 100%;
$maxHeightImgListener: 200px;
@font-face {
    font-family: 'bbFont';
    src: url('../font/bbfont.otf') format('woff2');
  }